#Jobs{
    min-height: 1075px;
    background: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 110px;
    .content_box{
        position: relative;
        img{
            z-index: -1;
            opacity: .6;
        }
        p{
            position: absolute;
            top: 25%;
            width: 100%;
        }
    }
}