header#Header {
  --bg: var(--color_11);
  --brwt: 0px;
  --brd: var(--color_15);
  --brwb: 0px;
  --shd: 0.57px -0.82px 22px 5px rgba(0, 0, 0, 0.6);
  --bg-scrl: var(--color_11);
  --brwt-scrl: 0px;
  --brd-scrl: var(--color_15);
  --brwb-scrl: 0px;
  --shd-scrl: -0.09px -1px 11px 1px rgba(0, 0, 0, 0.6);
  --alpha-bg: 1;
  --alpha-brd: 1;
  --alpha-bg-scrl: 1;
  --alpha-brd-scrl: 1;
  --shc-mutated-brightness: 128, 128, 128;
  --menuTotalBordersX: 0px;
  --menuTotalBordersY: 0px;
  --bgDrop: var(--color_11);
  --rd: 8px 8px 8px 8px;
  --shd: none;
  --fnt: var(--font_8);
  --pad: 5px;
  --txt: var(--color_15);
  --trans: color 0.4s ease 0s;
  --txth: var(--color_18);
  --txts: var(--color_14);
  --alpha-bgDrop: 1;
  --alpha-txt: 1;
  --alpha-txth: 1;
  --alpha-txts: 1;
  --boxShadowToggleOn-shd: none;
}
header#Header .header_position {
  z-index: 2000;
  position: fixed !important;
  top: 0;
  height: 93px;
  width: 100%;
  box-shadow: 0.57px -0.82px 22px 5px rgba(0, 0, 0, 0.6);
  background-color: var(--screenwidth-corvid-background-color, rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1)));
  border-top: var(--brwt, 0) solid var(--screenwidth-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
  border-bottom: var(--brwb, 0) solid var(--screenwidth-corvid-border-color, rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1)));
  display: flex;
  justify-content: flex-end;
}
header#Header .header_wrapper {
  transition: all 0.3s ease;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1600px;
}
header#Header .navbar_list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
header#Header .navbar_list a {
  display: inline-block;
  padding: 15px;
  color: #474747;
  transition: all 0.3s ease;
}
header#Header .navbar_list a.active_nav {
  opacity: 0.75;
}
header#Header .navbar_list a:hover {
  color: #15c719;
}
header#Header .login_btn {
  background: #000;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #000;
  display: inline-block;
  width: 120px;
  border-radius: 8px;
  padding: 4px 10px;
  margin-left: 45px;
  font: normal normal normal 16px/1.4em montserrat, sans-serif;
}
header#Header .login_btn:hover {
  color: #222;
  background: #fff;
}
header#Header .dropdown_leng {
  position: relative;
  width: 90px;
  height: 45px;
  background: #c9c9c9;
  cursor: pointer;
  fill: #fff;
  margin-left: 30px;
  border-radius: 10px;
  margin-right: 100px;
}
header#Header .dropdown_leng:hover {
  background: #323232;
}
header#Header .dropdown_leng .dropdown_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}
header#Header .dropdown_leng .dropdown_item svg {
  margin-left: 13px;
}
header#Header .dropdown_leng img {
  height: 20px;
}
header#Header .dropdown_leng .dropdown_action {
  position: absolute;
  justify-content: flex-start;
  top: 96%;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 0 0 15px 15px;
  padding-left: 17px;
  z-index: 2;
}
header#Header .dropdown_leng .dropdown_action:hover {
  background: #323232;
}/*# sourceMappingURL=Header.css.map */