#Homepage {
  #Section1 {
    height: 790px;
    position: relative;
    border-bottom: 3px solid black;
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      object-fit: cover;
      pointer-events: none;
      border-bottom: 5px solid white;
      opacity: 0.75;
    }
    .content_wrapper {
      padding-top: 135px;
      position: relative;
      height: 100%;
      text-align: center;
      .logo_lg {
        width: 661px;
        height: 183px;
        object-fit: cover;
        display: inline-block;
        margin-bottom: 20px;
      }
      h1 {
        margin: 0px;
      }
      .content_footer {
        width: 601px;
        margin: auto;
        position: relative;
        top: 86px;
        .img_lg,
        .img_sm {
          position: absolute;
          animation: 1s linear img_bg forwards;
          transform-origin: center bottom;
          @keyframes img_bg {
            0% {
              transform: scaleY(0);
            }
            100% {
              transform: scaleY(1);
            }
          }
        }
        .img_lg {
          left: 0px;
          bottom: 70%;
        }
        .img_sm {
          right: 0px;
          bottom: 80%;
        }
        .btn_content_footer {
          font-size: 14px;
          width: 100%;
          color: white;
          transition: all 0.2s ease, visibility 0s;
          background: #85c43f;
          border-radius: 15px;
          box-shadow: 0.14px 4px 17px 0 #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          letter-spacing: 0.1em;
          position: relative;
          z-index: 2;
          &:hover {
            color: #85c43f;
            border: 2px solid #85c43f;
            background: white;
          }
        }
      }
    }
  }
  #Section2 {
    padding-top: 50px;
    .text_content {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      text-align: center;
      width: 1018px;
      margin: auto;
      color: rgb(0, 0, 0);
    }
    .img_wrapper {
      width: calc(100% - 353px * 2);
      margin: auto;
      img {
        position: relative;
        z-index: 2;
        filter: url(https://static.wixstatic.com/media/d307ba_a9ab04576f1b48f5bbfc82278fa8f486~mv2.png/v1/fill/w_353,h_433,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/greenovation%20logo%20icon.png);
      }
      .img_animated {
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
        transition: 0.5s;
        opacity: 0;
        &.aos-animate {
          left: 50%;
          opacity: 1;
        }
      }
    }
    .content_description {
      width: 981px;
      margin: auto;
      position: relative;
      .drawing {
        position: absolute;
        right: 0px;
        top: 0;
      }
    }
  }
  #Section3 {
    .img_mask_box {
      position: relative;
      width: 400px;
      .mask_wrapper {
        --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='32.5 20 135 160' viewBox='32.5 20 135 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M167.5 140L100 180l-67.5-40V60L100 20l67.5 40v80z'/%3E%3C/g%3E%3C/svg%3E%0A");
        img:nth-child(1) {
          position: absolute;
          left: -12%;
          z-index: 2;
          top: 35%;
          width: 211px;
          height: 250px;
          object-fit: cover;
          object-position: 50% 50%;
          -webkit-mask-image: var(--mask-image, none);
          filter: var(--filter-effect-svg-url);
          -webkit-mask-position: var(--mask-position, 0);
          -webkit-mask-repeat: var(--mask-repeat, no-repeat);
        }
        img:nth-child(2) {
          position: absolute;
          left: 0%;
          top: 12%;
          width: 303px;
          height: 359px;
          object-fit: cover;
          object-position: 50% 50%;
          box-shadow: 0 0 0 #000;
          --filter-effect-svg-url: url(\#ink-comp-l6dkg4bp);

          visibility: inherit;
          filter: var(--filter-effect-svg-url);
          -webkit-mask-image: var(--mask-image, none);
          -webkit-mask-position: var(--mask-position, 0);
          -webkit-mask-size: var(--mask-size, 100% 100%);
          -webkit-mask-repeat: var(--mask-repeat, no-repeat);
        }
      }
    }
    .content_wrapper {
      ul {
        list-style: disc;
        width: 457px;
      }
    }
  }
}
