#Homepage #Section1 {
  height: 790px;
  position: relative;
  border-bottom: 3px solid black;
}
#Homepage #Section1 video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  border-bottom: 5px solid white;
  opacity: 0.75;
}
#Homepage #Section1 .content_wrapper {
  padding-top: 135px;
  position: relative;
  height: 100%;
  text-align: center;
}
#Homepage #Section1 .content_wrapper .logo_lg {
  width: 661px;
  height: 183px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  margin-bottom: 20px;
}
#Homepage #Section1 .content_wrapper h1 {
  margin: 0px;
}
#Homepage #Section1 .content_wrapper .content_footer {
  width: 601px;
  margin: auto;
  position: relative;
  top: 86px;
}
#Homepage #Section1 .content_wrapper .content_footer .img_lg,
#Homepage #Section1 .content_wrapper .content_footer .img_sm {
  position: absolute;
  -webkit-animation: 1s linear img_bg forwards;
          animation: 1s linear img_bg forwards;
  transform-origin: center bottom;
}
@-webkit-keyframes img_bg {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes img_bg {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
#Homepage #Section1 .content_wrapper .content_footer .img_lg {
  left: 0px;
  bottom: 70%;
}
#Homepage #Section1 .content_wrapper .content_footer .img_sm {
  right: 0px;
  bottom: 80%;
}
#Homepage #Section1 .content_wrapper .content_footer .btn_content_footer {
  font-size: 14px;
  width: 100%;
  color: white;
  transition: all 0.2s ease, visibility 0s;
  background: #85c43f;
  border-radius: 15px;
  box-shadow: 0.14px 4px 17px 0 #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  letter-spacing: 0.1em;
  position: relative;
  z-index: 2;
}
#Homepage #Section1 .content_wrapper .content_footer .btn_content_footer:hover {
  color: #85c43f;
  border: 2px solid #85c43f;
  background: white;
}
#Homepage #Section2 {
  padding-top: 50px;
}
#Homepage #Section2 .text_content {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 1018px;
  margin: auto;
  color: rgb(0, 0, 0);
}
#Homepage #Section2 .img_wrapper {
  width: calc(100% - 706px);
  margin: auto;
}
#Homepage #Section2 .img_wrapper svg {
  display: none;
}
#Homepage #Section2 .img_wrapper img {
  position: relative;
  z-index: 2;
  filter: url(https://static.wixstatic.com/media/d307ba_a9ab04576f1b48f5bbfc82278fa8f486~mv2.png/v1/fill/w_353,h_433,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/greenovation%20logo%20icon.png);
}
#Homepage #Section2 .img_wrapper .left_img {
  --filter-effect-svg-url: url(#lighten-comp-l6bvzlof);
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section2 .img_wrapper .right_img {
  --filter-effect-svg-url: url(#lighten-comp-l6bw28yg);
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section2 .img_wrapper .img_animated {
  position: absolute;
  left: 30%;
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
}
#Homepage #Section2 .img_wrapper .img_animated.aos-animate {
  left: 50%;
  opacity: 1;
}
#Homepage #Section2 .content_description {
  width: 981px;
  margin: auto;
  position: relative;
}
#Homepage #Section2 .content_description svg {
  display: none;
}
#Homepage #Section2 .content_description .drawing {
  position: absolute;
  right: -22%;
  top: -35%;
  z-index: -1;
  --filter-effect-svg-url: url(#faded-comp-l6bz75cu);
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section3 .section_body {
  margin-top: 100px;
  margin-bottom: 50px;
}
#Homepage #Section3 .img_mask_box {
  position: relative;
  width: 400px;
}
#Homepage #Section3 .img_mask_box .mask_wrapper {
  --mask-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' data-bbox='32.5 20 135 160' viewBox='32.5 20 135 160' height='200' width='200' xmlns='http://www.w3.org/2000/svg' data-type='shape'%3E%3Cg%3E%3Cpath d='M167.5 140L100 180l-67.5-40V60L100 20l67.5 40v80z'/%3E%3C/g%3E%3C/svg%3E%0A");
}
#Homepage #Section3 .img_mask_box .mask_wrapper img:nth-child(1) {
  position: absolute;
  z-index: 2;
  width: 211px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -webkit-mask-image: var(--mask-image, none);
  filter: var(--filter-effect-svg-url);
  -webkit-mask-position: var(--mask-position, 0);
  -webkit-mask-repeat: var(--mask-repeat, no-repeat);
  left: -66%;
  top: 45%;
}
#Homepage #Section3 .img_mask_box .mask_wrapper img:nth-child(2) {
  position: absolute;
  left: -30%;
  top: 12%;
  width: 303px;
  height: 359px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  box-shadow: 0 0 0 #000;
  --filter-effect-svg-url: url(\#ink-comp-l6dkg4bp);
  visibility: inherit;
  filter: var(--filter-effect-svg-url);
  -webkit-mask-image: var(--mask-image, none);
  -webkit-mask-position: var(--mask-position, 0);
  -webkit-mask-size: var(--mask-size, 100% 100%);
  -webkit-mask-repeat: var(--mask-repeat, no-repeat);
}
#Homepage #Section3 .content_wrapper ul {
  list-style: disc;
  width: 457px;
}
#Homepage #Section4 {
  position: relative;
  height: 777px;
}
#Homepage #Section4 .drawing {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  opacity: 0.28;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
#Homepage #Section4 .section_header {
  padding-top: 100px;
  position: relative;
  padding-bottom: 49px;
}
#Homepage #Section4 .section_header::before {
  content: "";
  right: 100%;
  display: block;
  position: absolute;
  width: 57px;
  height: 70px;
  background: url("../../../img/icons/icon_edited.webp") 50% 50%/cover no-repeat;
}
#Homepage #Section4 .section_body .body_content {
  width: 507px;
}
#Homepage #Section4 .section_body .img_box_m {
  position: absolute;
  bottom: 0;
  margin-left: 300px;
}
#Homepage #Section5 {
  height: 728px;
  position: relative;
  overflow: hidden;
}
#Homepage #Section5 .drawing {
  height: 100%;
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  top: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#Homepage #Section5 .section_header {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  padding-top: 107px;
  left: 440px;
  grid-area: 1/1/2/2;
  justify-self: start;
  align-self: start;
  width: 539px;
}
#Homepage #Section5 .content_section {
  border-bottom: var(--lnw, 2px) solid rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1));
  z-index: 2;
  position: relative;
}
#Homepage #Section5 .section_body {
  position: relative;
  margin: -115px 0px 15px calc((100% - 980px) * 0.5);
  left: 375px;
  grid-area: 2/1/5/2;
  justify-self: start;
  align-self: start;
  font-size: 16px;
  width: 604px;
}
#Homepage #Section5 .img_box_m {
  --filter-effect-svg-url: url(\#lighten-comp-l6c1djqu);
}
#Homepage #Section5 .img_box_m .canna_img {
  position: absolute;
  z-index: 3;
  margin: 0px 0px 0px calc((100% - 980px) * 0.5);
  left: -305px;
  grid-area: 3/1/8/2;
  justify-self: start;
  align-self: start;
  bottom: -110px;
  filter: var(--filter-effect-svg-url);
  -webkit-mask-image: var(--mask-image, none);
  -webkit-mask-position: var(--mask-position, 0);
  -webkit-mask-repeat: var(--mask-repeat, no-repeat);
}
#Homepage #Section5 .img_box_m .grenno_circle {
  position: absolute;
  margin: 67px 0px -133px calc((100% - 980px) * 0.5);
  left: 29px;
  grid-area: 1/1/2/2;
  justify-self: start;
  align-self: start;
  z-index: 3;
  top: 40px;
}
#Homepage #Section5 .img_box_m .edit_lg {
  position: absolute;
  width: 322px;
  height: 395px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  margin: 67px 0px -119px calc((100% - 980px) * 0.5);
  left: -68px;
  grid-area: 1/1/3/2;
  justify-self: start;
  align-self: start;
  top: 35px;
}
#Homepage #Section6 {
  overflow: hidden;
  --filter-effect-svg-url: url(#lighten-comp-l6ciumgw);
}
#Homepage #Section6 .section_wrapper_sm {
  position: relative;
}
#Homepage #Section6 .section_header {
  margin-top: 110px;
}
#Homepage #Section6 .design1,
#Homepage #Section6 .design2 {
  position: absolute;
  z-index: 2;
}
#Homepage #Section6 .design1 svg,
#Homepage #Section6 .design2 svg {
  position: absolute;
}
#Homepage #Section6 .design1 {
  top: -50px;
  left: -100px;
  --filter-effect-svg-url: url(#faded-comp-l6d9246e);
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section6 .design2 {
  top: -30px;
  right: -190px;
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section6 .section_body .body_content_design {
  position: absolute;
  right: 7%;
  top: 30px;
  --filter-effect-svg-url: url(#lighten-comp-l6d92467);
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section6 .img_gallery {
  position: relative;
  width: 100%;
  z-index: 3;
}
#Homepage #Section6 .img_gallery .img_box {
  cursor: pointer;
}
#Homepage #Section6 .img_gallery .img_box:nth-child(1) {
  width: 233px;
  height: 230px;
  position: relative;
  margin: 49px 0px 10px calc((100% - 980px) * 0.5);
  left: -6px;
}
#Homepage #Section6 .img_gallery .img_box:nth-child(2) {
  position: relative;
  margin: -184px 0px 35px calc((100% - 980px) * 0.5);
  left: 157px;
}
#Homepage #Section6 .img_gallery .img_box:nth-child(2) img {
  width: 256px;
  height: 239px;
}
#Homepage #Section6 .img_gallery .img_box:nth-child(3) {
  position: relative;
  margin: -314px 0px 10px calc((100% - 980px) * 0.5);
  left: 363px;
}
#Homepage #Section6 .img_gallery .img_box:nth-child(3) img {
  width: 229px;
  height: 226px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#Homepage #Section6 .img_gallery .img_box:nth-child(4) {
  position: relative;
  margin: -174px 0px 17px calc((100% - 980px) * 0.5);
  left: 548px;
  width: 230px;
  height: 227px;
}
#Homepage #Section6 .img_gallery .img_box:nth-child(5) {
  width: 303px;
  height: 298px;
  position: relative;
  margin: -331px 0px 42px calc((100% - 980px) * 0.5);
  left: 676px;
}
#Homepage #Section7 {
  height: 959px;
  position: relative;
}
#Homepage #Section7 .bg_drawing {
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#Homepage #Section7 .section_wrapper_sm {
  position: relative;
  z-index: 2;
}
#Homepage #Section7 .section_wrapper_sm .section_header {
  padding-top: 80px;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper {
  display: flex;
  margin-top: 90px;
  margin-bottom: 100px;
  justify-content: center;
  position: relative;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .card_design_corner {
  position: absolute;
  z-index: -1;
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .card_design_corner svg {
  display: none;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .card_design_corner.corner_left {
  top: -33%;
  left: -6%;
  --filter-effect-svg-url: url(#lighten-comp-l6civbha);
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .card_design_corner.corner_right {
  top: 55%;
  right: -4%;
  --filter-effect-svg-url: url(#lighten-comp-l6civbha);
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card {
  position: relative;
  width: 336px;
  height: 363px;
  box-shadow: 0px 1px 13px 3px rgba(0, 0, 0, 0.6), 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #fff;
  border-radius: 15px 23px 23px 15px;
  transition: all 0.4s ease-in-out 0s;
  padding-top: 20px;
  transform-style: preserve-3d;
  perspective: 3000;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card.animated_card {
  -webkit-animation: 1s linear animated_card;
          animation: 1s linear animated_card;
}
@-webkit-keyframes animated_card {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes animated_card {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card:first-child {
  margin-right: 105px;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card .card_head {
  font-weight: bold;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card .card_body {
  padding: 45px;
  padding-top: 35px;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card .img_box {
  text-align: center;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card .img_box.hover_box {
  display: none;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card:hover {
  background: #85C43F;
  color: #fff !important;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card:hover .color_23,
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card:hover .color_14 {
  color: #fff !important;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card:hover .img_box {
  display: none;
}
#Homepage #Section7 .section_wrapper_sm .affiliate_card_wrapper .affiliate_card:hover .img_box.hover_box {
  display: block;
}
#Homepage #Section8 {
  width: 1392px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
#Homepage #Section8 .drawing {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
#Homepage #Section8 .section_header {
  position: relative;
  --filter-effect-svg-url: url(#faded-comp-l6ciwoaf);
  padding-top: 80px;
}
#Homepage #Section8 .section_header .img_xl {
  position: absolute;
  left: -78%;
  top: -27%;
  z-index: -1;
}
#Homepage #Section8 .section_header .img_xl img {
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section8 .section_body,
#Homepage #Section8 .section_header {
  width: 660px;
  margin-left: 230px;
}
#Homepage #Section8 .section_body .content_list {
  padding-top: 40px;
  padding-bottom: 250px;
}
#Homepage #Section9 .section_body {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 327px;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  overflow: hidden;
}
#Homepage #Section9 .section_body .item_box {
  position: relative;
}
#Homepage #Section9 .section_body .item_box svg {
  position: absolute;
}
#Homepage #Section9 .section_body .item_box:nth-child(1) {
  margin: 84px 0px 50px calc((100% - 980px) * 0.5);
  left: 118px;
  grid-area: 1/1/2/2;
}
#Homepage #Section9 .section_body .item_box:nth-child(2) {
  position: relative;
  margin: 72px 0px 66px calc((100% - 980px) * 0.5);
  left: 336px;
  grid-area: 1/1/2/2;
  --filter-effect-svg-url: url(#lighten-comp-l6cbuz98);
}
#Homepage #Section9 .section_body .item_box:nth-child(2) img {
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section9 .section_body .item_box:nth-child(3) {
  position: relative;
  margin: 48px 0px 50px calc((100% - 980px) * 0.5);
  left: 549px;
  grid-area: 1/1/2/2;
  --filter-effect-svg-url: url(#lighten-comp-l6cboopu);
}
#Homepage #Section9 .section_body .item_box:nth-child(3) img {
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section9 .section_body .item_box:nth-child(4) {
  position: relative;
  margin: 34px 0px 40px calc((100% - 980px) * 0.5);
  left: 763px;
  grid-area: 1/1/2/2;
  --filter-effect-svg-url: url(#lighten-comp-l6cbp0uz);
}
#Homepage #Section9 .section_body .item_box:nth-child(4) img {
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section9 .section_body .item_box:nth-child(5) {
  position: relative;
  margin: 20px 0px 10px calc((100% - 980px) * 0.5);
  left: 109px;
  grid-area: 2/1/3/2;
  --filter-effect-svg-url: url(#lighten-comp-l6cbp0uz);
}
#Homepage #Section9 .section_body .item_box:nth-child(5) img {
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section9 .section_body .item_box:nth-child(6) {
  position: relative;
  margin: 0px 0px 10px calc((100% - 980px) * 0.5);
  left: 336px;
  grid-area: 2/1/3/2;
  --filter-effect-svg-url: : url(#lighten-comp-l6cbn70m);
}
#Homepage #Section9 .section_body .item_box:nth-child(6) img {
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section9 .section_body .item_box:nth-child(7) {
  position: relative;
  margin: 16px 0px 10px calc((100% - 980px) * 0.5);
  left: 529px;
  grid-area: 2/1/3/2;
  --filter-effect-svg-url: : url(#lighten-comp-l6cbnjix);
}
#Homepage #Section9 .section_body .item_box:nth-child(7) img {
  filter: var(--filter-effect-svg-url);
}
#Homepage #Section9 .section_body .item_box:nth-child(8) {
  position: relative;
  margin: 27px 0px 10px calc((100% - 980px) * 0.5);
  left: 758px;
  grid-area: 2/1/3/2;
  --filter-effect-svg-url: : url(#lighten-comp-l6cbo08k);
}
#Homepage #Section9 .section_body .item_box:nth-child(8) img {
  filter: var(--filter-effect-svg-url);
}

#img_preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img_preview img {
  height: 80vh;
}/*# sourceMappingURL=Homepage.css.map */